{% extends 'base.html'%}
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>This is Blogging website, where programmer can create, update and delete blogs</p>
        <p>Go vist us at our website <a href="https://getbootstrap.com/docs/4.5/examples/navbars/"></a></p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">View Blogs &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}